@font-face {
  font-family: "iconfont"; /* Project id 3660586 */
  src: url('//at.alicdn.com/t/c/font_3660586_sim9ae8x1hg.woff2?t=1663671498374') format('woff2'),
       url('//at.alicdn.com/t/c/font_3660586_sim9ae8x1hg.woff?t=1663671498374') format('woff'),
       url('//at.alicdn.com/t/c/font_3660586_sim9ae8x1hg.ttf?t=1663671498374') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuotianchong:before {
  content: "\e694";
}

.icon-setupb:before {
  content: "\e63a";
}

.icon-yuebao:before {
  content: "\e624";
}

.icon-webzichan:before {
  content: "\e657";
}

.icon-dingdandingdanmingxishouzhimingxi:before {
  content: "\e789";
}

.icon-paishipin:before {
  content: "\e641";
}

.icon-jiaoshi:before {
  content: "\e722";
}

.icon-medal-fill:before {
  content: "\e629";
}

.icon-haoping:before {
  content: "\e86e";
}

.icon-tiphot:before {
  content: "\e64e";
}

.icon-tipnew:before {
  content: "\e65d";
}

.icon-fanhuidingbu:before {
  content: "\e632";
}

.icon-yijianfankui:before {
  content: "\e618";
}

.icon-nice2:before {
  content: "\e6e7";
}

.icon-a-Free-Tag1:before {
  content: "\e845";
}
